@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

.App {
  margin: 0% 5% 0% 5%;
  text-align: center;
}

.App-header {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.headerText {
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
}

.headerLinks > a {
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
}

.headerLinks > a:hover {
  color: gray;
}

.collection > img {
  padding: 30px;
}

figure {
    display: inline-block;
}

figcaption {
    margin: 10px 0 0 0;
    font-variant: small-caps;
}

.cart {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 40px;
  background-color: lightgray;
}

.cart > span {
  position: relative;
  /* text-align: center;
  vertical-align: middle; */
}
